
@{
    ViewBag.Title = "EmpleadosHospital";
}

<h2>EmpleadosHospital</h2>

@if (Model is List<_17EJEM_MVC_NET_FRAME_ADMIN_OBJ_DIFERENTES_VISTAS.Models.DOCTOR>)
{

    <h3>Doctores</h3>

    <table class="table table-bordered">
        <tr>
            <th>CÓDIGO</th>
            <th>APELLIDO</th>
            <th>ESPECIALIDAD</th>
        </tr>
        @foreach (_17EJEM_MVC_NET_FRAME_ADMIN_OBJ_DIFERENTES_VISTAS.Models.DOCTOR doc in Model)
        {
            <tr>
                <td>@doc.DOCTOR_NO</td>
                <td>@doc.APELLIDO</td>
                <td>@doc.ESPECIALIDAD</td>
            </tr>
        }
    </table>
}
else
{


    <h3>Plantilla</h3>

    <table class="table table-bordered">
        <tr>
            <th>APELLIDO</th>
            <th>FUNCION</th>
            <th>SALARIO</th>
        </tr>
        @foreach (_17EJEM_MVC_NET_FRAME_ADMIN_OBJ_DIFERENTES_VISTAS.Models.PLANTILLA p in Model)
        {
            <tr>
                <td>@p.APELLIDO</td>
                <td>@p.FUNCION</td>
                <td>@p.SALARIO</td>
            </tr>
        }
    </table>
}
